$black : #000;

$white : #fff;
$white2: #f3f5ff;

$grey1: #272727;
$grey2: #464646;
$grey3: #1A1A1A;
$grey4: #3A3A3A;
$grey5: #BBBBBB;
$grey6: #818181;

$orange: #FF8700;
$orange-09: #FF870099;
$orange45: #ff880045;


$titlefont : "Ga Maamli", sans-serif;
$basefont: "Noto Sans", sans-serif;;

// typography
$para: 30px;
$mid-para: 24px;
$small-para: 20px;


// breakponts
$x-large: 1366px;
$large: 1200px;
$medium: 991px;
$small: 767px;
$x-small: 576px;