*{
    box-sizing: border-box;
    outline: none;    
}
body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    line-height: 1.5;
    overflow-x: hidden;
    position: relative;
    &::before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    @media(max-width: $large){
        font-size: 17px;
    }
    @media(max-width: $medium){
        font-size: 16px;
    }
    @media(max-width: $small){
        font-size: 15px;
    }
    &.over-hidden{
        overflow: hidden;
        &::before{
            opacity: 1;
            visibility: visible;
            z-index: 999;
        }
    }
}
p{
    margin: 0 0 24px;
    @media(max-width: $large){
        margin: 0 0 20px;
    }
    @media(max-width: $medium){
        margin: 0 0 15px;
    }
    @media(max-width: $small){
        margin: 0 0 10px;
    }
    &:last-child{ 
        margin: 0;
    }
}
figure{
    margin: 0;
}
a, button{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
img{
    max-width: 100%;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
.btn-wrap{
    @include d_flexMiddle;
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
    @media(max-width: $large){
        gap: 20px;
    }
    @media(max-width: $medium){
        gap: 16px;
    }
}
.btn{
    display: inline-block;
    padding: 14px 20px;
    border-radius: 36px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    border: 2px solid $white;
    background-color: $white;
    font-weight: 600;
    color: $black;
    transition: all 0.5s ease-in-out;
    @media(max-width: $medium){
        padding: 12px 20px;
        font-size: 15px;
        line-height: 1.18;
    }
    @media(max-width: $small){
        padding: 10px 20px;
        font-size: 14px;
    }
    &:hover{
        background-color: $black;
        border-color: $black;
        color: $white;
    }
    &.btn-blue{
        background-color: $blue2;
        color: $white;
        border: 1px solid transparent;
        &:hover{
            background-color: $yellow;
            color: $blue1;
        }
    }
}

.scrollTopBtn{
    @include d_flexMiddle;
    height: 50px;
    width: 50px;
    background-color: $blue2;
    border: 2px solid $white;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: -50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    @media(max-width: $medium){
        height: 40px;
        width: 40px;
    }
    &:after{
        content: "";
        height: 12px;
        width: 12px;
        border: 3px solid #fff;
        border-right: 0;
        border-bottom: 0;
        transform: rotate(45deg);
        margin-top: 5px;
        border-radius: 2px;
        transition: all 0.5s ease-in-out;
        @media(max-width: $medium){
            height: 10px;
            width: 10px;
        }
    }
    &:hover{
        background-color: $yellow;
        border-color: $black;
        &::after{
            border-color: $black;
        }
    }
}

.scrollTopBtn.show{
    bottom: 30px;
    opacity: 1;
    visibility: visible;
    @media(max-width: $medium){
        bottom: 40px;
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    @include h1;
}
h2{
    @include h2;
}
h3{
    @include h3;
}
h4{
    @include h4;
}

// cardEffect animation
@keyframes cardEffect {
    0%{
        top: -15px;
        left: 15px;
    }
    25%{
        left: 15px;
        top: 15px;
    }
    50%{
        top: 15px;
        left: -15px;
    }
    75%{
        top: -15px;
        left: -15px;
    }
    100%{
        top: -15px;
        left: 15px;
    }
}
@media(max-width: $small){
    @keyframes cardEffect {
        0%{
            top: -10px;
            left: 10px;
        }
        25%{
            left: 10px;
            top: 10px;
        }
        50%{
            top: 10px;
            left: -10px;
        }
        75%{
            top: -10px;
            left: -10px;
        }
        100%{
            top: -10px;
            left: 10px;
        }
    }
}
@media(max-width: $x-small){
    @keyframes cardEffect {
        0%{
            top: -5px;
            left: 5px;
        }
        25%{
            left: 5px;
            top: 5px;
        }
        50%{
            top: 5px;
            left: -5px;
        }
        75%{
            top: -5px;
            left: -5px;
        }
        100%{
            top: -5px;
            left: 5px;
        }
    }
}