$black : #000;

$white : #fff;
$white2: #f3f5ff;

$blue1: #02033B;
$blue2: #8041f3;

$yellow: #FFC247;


// typography
$para: 30px;
$mid-para: 24px;
$small-para: 20px;


// breakponts
$x-large: 1366px;
$large: 1200px;
$medium: 991px;
$small: 767px;
$x-small: 576px;